.blink_me {
  animation: blinker 1.5s linear infinite;
}

body {
  color: darkgrey;
}

@keyframes blinker {
  60% {
    opacity: 0;
  }
}

table.v-table tbody td,
table.v-table tbody th,
table.v-table tbody tr {
  height: 38px !important;
}

table .v-input__control {
  height: 20px !important;
}

.shortkey {
  text-decoration: none;
  border-bottom: 1px solid orange;
}

table .v-text-field > .v-input__control > .v-input__slot:before {
  border-style: none;
}

table .v-text-field > .v-input__control > .v-input__slot:after {
  border-style: none;
}

table.v-table thead column,
th,
tr {
  height: 38px !important;
  font-size: 15px !important;
}

/* tabs height css start */
.project-tabs .v-tabs__container {
  max-height: 33px !important;
}

.project-tabs .v-tabs__item,
.v-tabs__div {
  max-height: 40px !important;
  font-weight: bold !important;
}

.table-tabs .v-tabs__container {
  max-height: 32px !important;
}

.table-tabs .v-tabs__item,
.v-tabs__div {
  max-height: 32px !important;
  font-weight: 500 !important;
  font-size: 12px !important;
}

/* tabs height css end */

.divider {
  /*border-right: 1px solid #b3d4fc;*/
}

.divider:last-child {
  /*border-right: 0;*/
}

.project-container {
  /*min-height: calc(100vh - (408px + 1em));*/
  /*max-height: calc(100vh - (408px + 1em));*/
  overflow-y: auto;
}

.project-logs {
  /* position: fixed; */
  /* bottom: 0; */
  /* right: 0; */
  /*min-height: 250px !important;*/
  /*max-height: 250px !important;*/
  /*overflow-y: auto;*/
  /* width: calc(100vw - (500px + 1em)); */
  /*border: 2px solid dimgrey;*/
}

.new-project {
  /* position: fixed; */
  /* bottom: 0; */
  /* right: 0; */
  /*min-height: 250px !important;*/
  max-height: 750px !important;
  overflow-y: auto;
  /* width: calc(100vw - (500px + 1em)); */
  /*border: 1px solid dimgrey;*/
}

.selected-table-row {
  background: purple;
}

html {
  overflow: hidden;
}


[v-cloak] {
  display: none !important;
}


.v-btn {
  margin: 0 2px;
}



html {
  overflow-y: auto !important;
}


/* nested expansion panel bug  */

.v-expansion-panel-header {
  min-height: 48px !important;
}

.v-expansion-panel--active > .v-expansion-panel-header {
  min-height: 64px !important;
}


/* Table validation message */
/*table .v-input__control {*/
/*  position: relative;*/
/*}*/

/*table .v-input__control > .v-text-field__details {*/
/*  position: absolute;*/
/*  bottom: -4px;*/
/*}*/


/*table edit dialog buttons*/
.v-small-dialog__actions button span {
  font-weight: bolder;
}


/*resizer*/

.vertical-resizer {
  /*width: 100%;*/
  height: 5px;
  background: grey;
  cursor: ns-resize;
  position: relative;
}

.vertical-resizer + * {
  overflow-y: auto !important;
}

.horizontal-resizer {
  /*width:5px !important;*/
  /*background: grey !important;*/
  /*cursor: ew-resize;*/
}

.pri-text-color {
  color: #616161;
}

.free-gradient {
  background: linear-gradient(70deg, black, dimgrey);
}

.premium-gradient {
  background: linear-gradient(70deg, darkblue, cornflowerblue);
}

.platinum-gradient {
  background: linear-gradient(70deg, orangered, orange);
}

.blue-gradient {
  background: linear-gradient(70deg, royalblue, lightskyblue);
}

.green-gradient {
  background: linear-gradient(70deg, limegreen, darkseagreen);
}

.pink-gradient {
  background: linear-gradient(70deg, hotpink, lightpink);
}

.purple-gradient {
  background: linear-gradient(70deg, rebeccapurple, mediumpurple);
}

.orange-gradient {
  background: linear-gradient(70deg, darkorange, orange);
}

.black-gradient {
  background: linear-gradient(180deg, black, rgb(55, 55, 55));
}


.yellow-orange-gradient {
  background: -moz-linear-gradient(left, rgba(241, 231, 103, 1) 0%, rgba(254, 182, 69, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(241, 231, 103, 1) 0%, rgba(254, 182, 69, 1) 100%);
  background: linear-gradient(to right, rgba(241, 231, 103, 1) 0%, rgba(254, 182, 69, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1e767', endColorstr='#feb645', GradientType=1);
}


.white-gradient {
  background: linear-gradient(45deg, white, lightskyblue);
}

.banner-bar {
  background: linear-gradient(180deg, #4185f4, #4185f4);
}

.banner-gradient {
  background: linear-gradient(180deg, #4185f4, #4185f4);
}

.home-cta {
  background: linear-gradient(70deg, #ff8319, #ff8319);
}

.home-cta-text {
  background: linear-gradient(70deg, #fcbb07, #fcbb07);
}


.img-animation {
  animation-name: vibrate;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes vibrate {
  0% {

    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}


.search-overlay .v-overlay__content {
  height: 100%;
  width: 100%;

}


/* Draggable tree hover color */

.theme--dark .vtl-tree-node:hover {
  background-color: rgb(94, 94, 94) !important;
}


.theme--light .vtl-tree-node:hover {
  background-color: rgb(240, 240, 240) !important;
}


/*vue tree list icon font */

/*.sql-query-treeview .vtl-icon-folder:before {*/
/*  vertical-align: middle;*/
/*  font-family: "Material Design Icons" ;*/
/*  content: "\FB7B" !important;*/
/*}*/

.api-treeview .vtl-icon-file:before {
  display: none;
}
/*.sql-query-treeview .vtl-icon-file:before {*/
/*  vertical-align: middle;*/
/*  font-family: "Material Design Icons" ;*/
/*  content: "\F0C3" !important;*/
/*  color: orange;*/

/*}*/

.sql-query-treeview .vtl-tree-node .vtl-caret{
  width:1rem;
}
.sql-query-treeview .vtl-tree-node{
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.sql-query-treeview .custom-run-icon{}


.sql-editor .v-expansion-panel-header {
  min-height: 36px !important;
  padding:  0 0 0  10px;
}
.sql-editor .v-expansion-panel-header--active {
  min-height: 40px !important;
}


.api-client .v-expansion-panel-header {
  min-height: 36px !important;
  padding:  0 0 0  10px;
}
.api-client .v-expansion-panel-header--active {
  min-height: 40px !important;
}
.api-treeview .vtl-node-content{
  max-width: calc(100% - 44px);
}
/* for expansion panel content wrapper */
.expansion-wrap-0 .v-expansion-panel-content__wrap{
  padding: 0;
}

.sql-query-treeview .vtl-operation{
  margin-left: 2px !important;;
}
.sql-query-treeview .vtl-tree-node{
  display: flex;
}

.sql-query-treeview .vtl-node-content{
  flex-grow: 1;
}


.ignore-height-style table .v-input__control {
  height: auto !important;
}

.cursor-pointer{
  cursor: pointer;
}


/* sorting and filter */
.menu-filter-dropdown {
  max-height: 500px;
  overflow-y: auto;
}
