# OS
# ===========
.DS_Store
ehthumbs.db
Thumbs.db
Icon



# Node and related ecosystem
# ==========================
.nodemonignore
.sass-cache/
node_modules/
help/
a
public/lib/
app/tests/coverage/
.bower-*/
.idea/
coverage/

# MEAN.js app and assets
# ======================
public/dist/
uploads
modules/users/client/img/profile/uploads
config/env/local.js
*.pem

# Ignoring MEAN.JS's gh-pages branch for documenation
_site/

# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.tmp.md
*.bak
*.swp
logs/
build/
uploads/

# Visual Studio Code
# =========
.vscode

# Sublime editor
# ==============
.sublime-project
*.sublime-project
*.sublime-workspace

# Eclipse project files
# =====================
.project
.settings/
.*.md.html
.metadata
*~.nib
local.properties

# IntelliJ
# ========
*.iml

# Cloud9 IDE
# =========
.c9/
data/
mongod

# Visual Studio
# =========
*.suo
*.ntvs*
*.njsproj
*.sln

.history
/packages/nocodb/docker/main.js.LICENSE.txt
/packages/nocodb/noco_log.db

# NC_DBs
#=========
nc_minimal_dbs/
test_noco.db

# ngrok config
httpbin
.run/test-debug.run.xml

