# Operating System Files
# ======================
.DS_Store
ehthumbs.db
Thumbs.db
*~.nib

# Node and related ecosystem
# ==========================
node_modules/
.nodemonignore
.sass-cache/
.bower-*/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment and Secrets
# =======================
config/env/local.js
local.properties
*.pem
/packages/nc-secret-mgr/dist/index.js
/packages/nc-secret-mgr/dist/index.js.map

# Logs, Build and Coverage
# ========================
logs/
build/
coverage/
public/dist/
_site/
app/tests/coverage/
result
httpbin
mongod

# Temporary and General Files
# ===========================
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.tmp.md
*.bak
*.swp
a
.*.md.html

# Uploads and Data
# ================
uploads
uploads/
public/lib/
modules/users/client/img/profile/uploads
nc_minimal_dbs/
test_noco.db
/packages/nocodb/noco_log.db

# IDE and Editors
# ===============
# Visual Studio Code
.vscode
.history
.cursorignore

# IntelliJ / JetBrains
.idea/
*.iml
.run/test-debug.run.xml

# Sublime Text
.sublime-project
*.sublime-project
*.sublime-workspace

# Eclipse
.project
.settings/
.metadata

# Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln

# Cloud9
.c9/

# Specific Project Files
# ======================
/packages/nocodb/docker/main.js.LICENSE.txt
