.page-enter-active,
.page-leave-active,
.layout-enter-active,
.layout-leave-active {
  @apply transition-all duration-200 ease;
}

.page-enter-from,
.page-leave-to,
.layout-enter-from,
.layout-leave-to {
  @apply opacity-0;
}

.slide-enter-active,
.slide-leave-active {
  @apply transition-all duration-200 ease-in-out;
}

.slide-enter-from,
.slide-leave-to {
  transform: translate(-100%, 0);
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 400ms ease;
}

.slide-right-enter-from,
.slide-right-leave-to {
  transform: translate(100%, 0%);
  opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 400ms ease;
}

.slide-left-enter-from,
.slide-left-leave-to {
  transform: translate(-100%, 0%);
  opacity: 0;
}

.slide-top-enter-active,
.slide-top-leave-active {
  transition: all 400ms ease;
}

.slide-top-enter-from,
.slide-top-leave-to {
  transform: translate(0%, -100%);
  opacity: 0;
}

.slide-bottom-enter-active,
.slide-bottom-leave-active {
  transition: all 400ms ease;
}

.slide-bottom-enter-from,
.slide-bottom-leave-to {
  transform: translate(0%, 100%);
  opacity: 0;
}

.glow-enter-active,
.glow-leave-active {
  @apply transition-all duration-300 ease-in-out;
}

.glow-enter-active {
  @apply ring ring-xl;
}

.glow-enter-from,
.glow-leave-to {
  @apply opacity-0;
}