// https://github.com/vuetifyjs/vuetify/tree/master/packages/vuetify/src/styles/settings

@import "~vuetify/src/styles/styles";


$material-light: (
  'text': (
    'primary': rgba(61, 61, 61, 1)
    //'primary': '#6b6b6b'
  ),
  //'background': #300000,'#0989ff'
  //'bg-color': #300000,
  ////'tabs': #30000088,
  //'tabs': rgba(256, 0, 0, 0.54),
  //'app-bar': #30000028,
);
//$text-field-outlined-fieldset-padding: 0px;

$pagination-item-height: 24px !important;
$pagination-more-height: 24px !important;
$pagination-navigation-height: 24px !important;
$pagination-item-font-size: map-deep-get($headings, 'caption', 'size') !default;

$btn-text-transform: none !important;

//
//$treeview-node-shaped-margin:4px ;
//$treeview-node-padding:4px ;
//$treeview-node-margin: 2px ;

//$treeview-label-font-size:



$skeleton-loader-table-tbody-padding: 3px 3px 0;
$skeleton-loader-table-cell-height: 32px;
