@import './color.css';
html {
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}
body {
	font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, Vazirmatn, sans-serif;
}
*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
}
.btn, .pointer {
	cursor: pointer;
}
.primary {
	color: var(--primary);
}
.secondary {
	color: var(--secondary);
}
.btn-primary {
	background-color: var(--primary);
	color: #fff;
}
.btn-secondary {
	background-color: var(--secondary);
	color: #000;
}

/* 
Apply Vazirmatn for rtl
*/

.rtl .v-application *:not(.material-icons) {
	font-family: Vazirmatn !important;
}

.rtl .v-application .ml-n1 {
	margin-left: 0px !important;
}