{
  "openapi": "3.0.0",
  "info": {
    "title": "NocoDB v3",
    "version": "3.0.0",
    "description": "NocoDB API Documentation"
  },
  "servers": [
    {
      "url": "https://app.nocodb.com"
    }
  ],
  "paths": {},
  "components": {
    "schemas": {
      "Paginated": {
        "title": "Paginated",
        "type": "object",
        "properties": {
          "pageSize": {
            "type": "integer"
          },
          "totalRows": {
            "type": "integer"
          },
          "isFirstPage": {
            "type": "boolean"
          },
          "isLastPage": {
            "type": "boolean"
          },
          "page": {
            "type": "number"
          },
          "next": {
            "type": [
              "string",
              "null"
            ],
            "description": "URL to retrieve the next page of records"
          }
        }
      },
      "Attachment": {
        "title": "Attachment",
        "type": "object",
        "properties": {
          "mimetype": {
            "type": "string"
          },
          "size": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          }
        }
      },
      "Groupby": {
        "title": "Groupby",
        "type": "object",
        "properties": {
          "count": {
            "type": "number",
            "description": "count"
          },
          "column_name": {
            "type": "string",
            "description": "the value of the given column"
          }
        }
      },
      "DataRecordV3": {
        "type": "object",
        "description": "V3 Data Record format with id and fields separation",
        "properties": {
          "id": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Record identifier (primary key value)"
          },
          "fields": {
            "type": "object",
            "description": "Record fields data (excluding primary key). Undefined when empty.",
            "additionalProperties": true
          }
        },
        "required": ["id"]
      },
      "DataListResponseV3": {
        "type": "object",
        "description": "V3 Data List Response format",
        "properties": {
          "records": {
            "type": "array",
            "description": "Array of records for has-many and many-to-many relationships",
            "items": {
              "$ref": "#/components/schemas/DataRecordV3"
            }
          },
          "next": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pagination token for next page"
          },
          "prev": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pagination token for previous page"
          },
          "page": {
            "type": "integer",
            "description": "Current page number"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of records per page"
          },
          "totalRows": {
            "type": "integer",
            "description": "Total number of records"
          }
        },
        "required": ["records"]
      }
    },
    "securitySchemes": {
      "xcToken": {
        "type": "apiKey",
        "in": "header",
        "name": "xc-token",
        "description": "API token"
      },
      "bearerAuth": {
        "name": "Authorization",
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication. Use 'Authorization: Bearer <token>' header format. This is an alternative to the xc-token header."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "BadRequest",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "msg": {
                  "type": "string",
                  "example": "BadRequest [Error]: <ERROR MESSAGE>"
                }
              },
              "required": [
                "msg"
              ]
            },
            "examples": {
              "Example 1": {
                "value": {
                  "msg": "BadRequest [Error]: <ERROR MESSAGE>"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "xcToken": []
    },
    {
      "bearerAuth": []
    }
  ]
}
