language: node_js
node_js:
  - 12
services:
  - mysql
before_install:
  - curl https://raw.githubusercontent.com/xgenecloud/xc-data/master/sakila-data.sql > sakila-data.sql
  - curl https://raw.githubusercontent.com/xgenecloud/xc-data/master/sakila-schema.sql > sakila-schema.sql
  - mysql -e 'CREATE DATABASE IF NOT EXISTS sakila;'
  - mysql -u root --default-character-set=utf8 sakila < sakila-schema.sql
  - mysql -u root --default-character-set=utf8 sakila < sakila-data.sql
install:
  - npm install
  - npm run lerna:install
script:
  - npm run test:travis