html,
body,
#__nuxt,
.v-application__wrap {
    margin: 0 !important;
    height: 100vh;
    width: 100vw;
}

html, body {
    @apply scrollbar-thin-primary;
}

.page-enter-active,
.page-leave-active,
.layout-enter-active,
.layout-leave-active {
    transition: opacity .5s
}

.page-enter,
.page-leave-active,
.layout-enter,
.layout-leave-active {
    opacity: 0
}
