::-webkit-scrollbar {
  width: .7em;
  height: .7em
}

::-webkit-scrollbar-button {
  background: #77777722
}

::-webkit-scrollbar-track-piece {
  background: #66666622
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: .7em;
  border: .15em solid #00000000;
  background-clip: padding-box;
}
