{
  "openapi": "3.1.0",
  "x-stoplight": {
    "id": "qiz1rcfqd2jy6"
  },
  "info": {
    "title": "NocoDB v3",
    "version": "",
    "description": "NocoDB API Documentation"
  },
  "x-tagGroups": [
    {
      "name": "Meta APIs",
      "tags": [
        "Workspaces",
        "Bases",
        "Tables",
        "Views",
        "Fields",
        "View Filters",
        "View Sorts",
        "Scripts",
        "Dashboards",
        "Documents",
        "Hooks",
        "Comments"
      ]
    },
    {
      "name": "Collaboration APIs",
      "tags": [
        "Workspace Members",
        "Base Members"
      ]
    }
  ],
  "servers": [
    {
      "url": "https://app.nocodb.com"
    }
  ],
  "paths": {
    "/api/v3/meta/workspaces": {
      "get": {
        "summary": "List workspaces",
        "operationId": "workspace-list",
        "description": "Retrieve a list of all workspaces accessible to the user.\n\n**Note**: Workspace APIs are available only with self-hosted **Enterprise** plans and cloud-hosted **Enterprise** plans.",
        "tags": [
          "Workspaces"
        ],
        "responses": {
          "200": {
            "description": "Workspaces retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceV3ListResponse"
                },
                "examples": {
                  "Workspaces List": {
                    "value": {
                      "list": [
                        {
                          "id": "w6dw3fo0",
                          "title": "My Workspace",
                          "org_id": "org123",
                          "created_at": "2025-01-16T06:04:18.000Z",
                          "updated_at": "2025-01-16T06:04:18.000Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "500": {
            "description": "The server encountered an unexpected error while processing the request."
          }
        }
      },
      "post": {
        "summary": "Create workspace",
        "operationId": "workspace-create",
        "description": "Create a new workspace with the specified title and optional organization ID.\n\n**Note**: Workspace APIs are available only with self-hosted **Enterprise** plans and cloud-hosted **Enterprise** plans.",
        "tags": [
          "Workspaces"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceV3Create"
              },
              "examples": {
                "Create Workspace": {
                  "value": {
                    "title": "New Workspace",
                    "org_id": "org123"
                  }
                },
                "Create Workspace (On-prem)": {
                  "value": {
                    "title": "New Workspace"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceV3"
                },
                "examples": {
                  "Created Workspace": {
                    "value": {
                      "id": "w7xyz123",
                      "title": "New Workspace",
                      "org_id": "org123",
                      "created_at": "2025-01-16T06:04:18.000Z",
                      "updated_at": "2025-01-16T06:04:18.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "500": {
            "description": "The server encountered an unexpected error while processing the request."
          }
        }
      }
    },
    "/api/v3/meta/workspaces/{workspaceId}": {
      "get": {
        "summary": "Get workspace",
        "operationId": "workspace-read",
        "description": "Retrieve details of a specific workspace.\n\n**Note**: Workspace APIs are available only with self-hosted **Enterprise** plans and cloud-hosted **Enterprise** plans.",
        "tags": [
          "Workspaces"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the workspace."
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Include additional data. Use 'members' to include workspace member information.",
            "example": "members"
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceV3"
                },
                "examples": {
                  "Workspace": {
                    "value": {
                      "id": "w6dw3fo0",
                      "title": "My Workspace",
                      "org_id": "org123",
                      "created_at": "2025-01-16T06:04:18.000Z",
                      "updated_at": "2025-01-16T06:04:18.000Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Workspace not found."
          },
          "500": {
            "description": "The server encountered an unexpected error while processing the request."
          }
        }
      },
      "patch": {
        "summary": "Update workspace",
        "operationId": "workspace-update",
        "description": "Update workspace details.\n\n**Note**: Workspace APIs are available only with self-hosted **Enterprise** plans and cloud-hosted **Enterprise** plans.",
        "tags": [
          "Workspaces"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the workspace."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceV3Update"
              },
              "examples": {
                "Update Workspace": {
                  "value": {
                    "title": "Updated Workspace Title"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceV3"
                },
                "examples": {
                  "Updated Workspace": {
                    "value": {
                      "id": "w6dw3fo0",
                      "title": "Updated Workspace Title",
                      "org_id": "org123",
                      "created_at": "2025-01-16T06:04:18.000Z",
                      "updated_at": "2025-01-17T06:04:18.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Workspace not found."
          },
          "500": {
            "description": "The server encountered an unexpected error while processing the request."
          }
        }
      },
      "delete": {
        "summary": "Delete workspace",
        "operationId": "workspace-delete",
        "description": "Delete a workspace.\n\n**Note**: Workspace APIs are available only with self-hosted **Enterprise** plans and cloud-hosted **Enterprise** plans.",
        "tags": [
          "Workspaces"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the workspace."
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace deleted successfully."
          },
          "404": {
            "description": "Workspace not found."
          },
          "500": {
            "description": "The server encountered an unexpected error while processing the request."
          }
        }
      }
    },
    "/api/v3/meta/workspaces/{workspaceId}/bases": {
      "get": {
        "summary": "List bases",
        "operationId": "bases-list",
        "description": "Retrieve a list of bases associated with a specific workspace.",
        "tags": [
          "Bases"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the workspace."
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful, and a list of bases is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Base"
                      },
                      "description": "List of bases."
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "list": [
                        {
                          "id": "pgfqcp0ocloo1j3",
                          "title": "Getting Started",
                          "meta": {
                            "icon_color": "#36BFFF"
                          },
                          "created_at": "2025-01-16 06:04:18+00:00",
                          "updated_at": "2025-01-16 06:04:18+00:00",
                          "workspace_id": "w6dw3fo0"
                        },
                        {
                          "id": "p1go4ju5jcwqf8v",
                          "title": "Base2",
                          "meta": {
                            "icon_color": "#36BFFF"
                          },
                          "created_at": "2025-01-16 06:04:48+00:00",
                          "updated_at": "2025-01-16 06:04:48+00:00",
                          "workspace_id": "w6dw3fo0"
                        },
                        {
                          "id": "pho1grz3alkye0t",
                          "title": "Base3",
                          "meta": {
                            "icon_color": "#FA8231"
                          },
                          "created_at": "2025-01-16 06:04:52+00:00",
                          "updated_at": "2025-01-16 06:04:52+00:00",
                          "workspace_id": "w6dw3fo0"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The server encountered an unexpected error while processing the request."
          }
        }
      },
      "post": {
        "summary": "Create base",
        "description": "Create a new base in a specified workspace. The request requires the workspace identifier in the path and base details in the request body.",
        "operationId": "base-create",
        "tags": [
          "Bases"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the workspace where the base will be created."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseCreate"
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "title": "New Base",
                    "meta": {
                      "icon_color": "#36BFFF"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Base was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Base"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "p7nwavd2gcdkzvd",
                      "title": "New Base",
                      "meta": {
                        "icon_color": "#36BFFF"
                      },
                      "created_at": "2024-12-28 09:52:29+00:00",
                      "updated_at": "2024-12-28 09:52:29+00:00",
                      "workspace_id": "w6dw3fo0"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body."
          },
          "500": {
            "description": "Server error."
          }
        }
      }
    },
    "/api/v3/meta/workspaces/{workspaceId}?include[]=members": {
      "get": {
        "summary": "List workspace members",
        "operationId": "workspace-members-read",
        "description": "Retrieve details of a specific workspace, including its members.\n\nNotes:\n- To include member details, use the query parameter `include[]=members`.\n- Workspace collaboration APIs are available only with self-hosted Enterprise plans and cloud-hosted Enterprise plans.",
        "tags": [
          "Workspace Members"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the workspace."
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "enum": [
                    "members"
                  ]
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "members"
                    ]
                  }
                }
              ]
            },
            "description": "Include additional data. Use 'members' to include workspace member information.",
            "example": "members"
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace metadata retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceWithMembers"
                },
                "examples": {
                  "Workspace with Members": {
                    "value": {
                      "id": "w6dw3fo0",
                      "title": "My Workspace",
                      "created_at": "2025-01-16T06:04:18.000Z",
                      "updated_at": "2025-01-16T06:04:18.000Z",
                      "individual_members": {
                        "workspace_members": [
                          {
                            "email": "user@example.com",
                            "user_id": "usrL2PNC5o3H4lBEi",
                            "created_at": "2025-01-16T06:04:18.000Z",
                            "updated_at": "2025-01-16T06:04:18.000Z",
                            "workspace_role": "workspace-level-owner"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Workspace not found."
          },
          "500": {
            "description": "The server encountered an unexpected error while processing the request."
          }
        }
      }
    },
    "/api/v3/meta/workspaces/{workspaceId}/members": {
      "post": {
        "summary": "Add workspace members",
        "description": "Add new members to a workspace. The request requires the workspace identifier in the path and member details in the request body.\n\nNotes: Workspace collaboration APIs are available only with self-hosted Enterprise plans and cloud-hosted Enterprise plans.",
        "operationId": "workspace-members-invite",
        "tags": [
          "Workspace Members"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the workspace where the members will be added."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceUserCreate"
              },
              "examples": {
                "Example 1": {
                  "value": [
                    {
                      "email": "user@example.com",
                      "workspace_role": "workspace-level-viewer"
                    }
                  ]
                },
                "Example 2": {
                  "value": [
                    {
                      "email": "user1@example.com",
                      "workspace_role": "workspace-level-editor"
                    },
                    {
                      "email": "user2@example.com",
                      "workspace_role": "workspace-level-viewer"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace members were added successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkspaceUser"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body."
          },
          "500": {
            "description": "Server error."
          }
        }
      },
      "patch": {
        "summary": "Update workspace members",
        "description": "Update roles of existing workspace members. The request requires the workspace identifier in the path and member update details in the request body.\n\nNotes: Workspace collaboration APIs are available only with self-hosted Enterprise plans and cloud-hosted Enterprise plans.",
        "operationId": "workspace-members-update",
        "tags": [
          "Workspace Members"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the workspace where the members will be updated."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceUserUpdate"
              },
              "examples": {
                "Example 1": {
                  "value": [
                    {
                      "user_id": "user123",
                      "workspace_role": "workspace-level-editor"
                    }
                  ]
                },
                "Example 2": {
                  "value": [
                    {
                      "user_id": "user123",
                      "workspace_role": "workspace-level-editor"
                    },
                    {
                      "user_id": "user456",
                      "workspace_role": "workspace-level-viewer"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace members were updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkspaceUser"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body."
          },
          "500": {
            "description": "Server error."
          }
        }
      },
      "delete": {
        "summary": "Delete workspace members",
        "description": "Remove members from a workspace. The request requires the workspace identifier in the path and member details in the request body.\n\nNotes: Workspace collaboration APIs are available only with self-hosted Enterprise plans and cloud-hosted Enterprise plans.",
        "operationId": "workspace-members-delete",
        "tags": [
          "Workspace Members"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the workspace where the members will be removed."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceUserDelete"
              },
              "examples": {
                "Example 1": {
                  "value": [
                    {
                      "user_id": "user123"
                    }
                  ]
                },
                "Example 2": {
                  "value": [
                    {
                      "user_id": "user123"
                    },
                    {
                      "user_id": "user456"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace members were removed successfully."
          },
          "400": {
            "description": "Invalid request body."
          },
          "500": {
            "description": "Server error."
          }
        }
      }
    },
    "/api/v3/meta/bases/{baseId}": {
      "get": {
        "summary": "Get base meta",
        "description": "Retrieve meta details of a specific base using its unique identifier.",
        "operationId": "base-read",
        "tags": [
          "Bases"
        ],
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the base."
          }
        ],
        "responses": {
          "200": {
            "description": "Base meta was retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Base"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "p7nwavd2gcdkzvd",
                      "title": "Getting Started",
                      "meta": {
                        "icon_color": "#36BFFF"
                      },
                      "created_at": "2024-12-28 09:52:29+00:00",
                      "updated_at": "2024-12-28 09:52:30+00:00",
                      "workspace_id": "w6dw3fo0",
                      "sources": [
                        {
                          "id": "biv0qz3hgg191s5",
                          "title": "jango_fett",
                          "type": "pg",
                          "is_schema_readonly": false,
                          "is_data_readonly": false,
                          "integration_id": "biv0qz3hgg191s5"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Base not found."
          },
          "500": {
            "description": "Server error."
          }
        }
      },
      "patch": {
        "summary": "Update base",
        "description": "Update properties of a specific base. You can modify fields such as the title and metadata of the base. The baseId parameter identifies the base to be updated, and the new details must be provided in the request body. At least one of title or meta must be provided.",
        "operationId": "base-update",
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the base."
          }
        ],
        "tags": [
          "Bases"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseUpdate"
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "title": "Updated Base Title",
                    "meta": {
                      "icon_color": "#36BFFF"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The base was updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Base"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "p7nwavd2gcdkzvd",
                      "title": "Updated Base Title",
                      "meta": {
                        "icon_color": "#36BFFF"
                      },
                      "created_at": "2024-12-28 09:52:29+00:00",
                      "updated_at": "2024-12-28 09:52:29+00:00",
                      "workspace_id": "w6dw3fo0"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body."
          },
          "404": {
            "description": "Base not found."
          },
          "500": {
            "description": "Server error."
          }
        }
      },
      "delete": {
        "summary": "Delete base",
        "description": "Delete a specific base using its unique identifier. Once deleted, the base and its associated data cannot be recovered.",
        "operationId": "base-delete",
        "tags": [
          "Bases"
        ],
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the base."
          }
        ],
        "responses": {
          "204": {
            "description": "Base was deleted."
          },
          "404": {
            "description": "Base not found."
          },
          "500": {
            "description": "Server error."
          }
        }
      }
    },
    "/api/v3/meta/bases/{base_id}/tables": {
      "get": {
        "summary": "List tables",
        "description": "Retrieve list of all tables within the specified base.",
        "operationId": "tables-list",
        "tags": [
          "Tables"
        ],
        "parameters": [
          {
            "name": "base_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the base."
          }
        ],
        "responses": {
          "200": {
            "description": "List of tables retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TableList"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "list": [
                        {
                          "id": "mq31p5ngbwj5o7u",
                          "title": "Features",
                          "description": "Sample table description.",
                          "base_id": "pgfqcp0ocloo1j3",
                          "workspace_id": "w6dw3fo0"
                        },
                        {
                          "id": "mwmlsgaek7932m4",
                          "title": "Table-1",
                          "meta": {
                            "icon": "🚞"
                          },
                          "base_id": "pgfqcp0ocloo1j3",
                          "workspace_id": "w6dw3fo0"
                        },
                        {
                          "id": "m56zsedzrpz6p9w",
                          "title": "Table-2",
                          "meta": {
                            "icon": "🏞️"
                          },
                          "base_id": "pgfqcp0ocloo1j3",
                          "workspace_id": "w6dw3fo0"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Base not found."
          },
          "500": {
            "description": "Server error."
          }
        }
      },
      "post": {
        "summary": "Create table",
        "description": "Create a new table within the specified base by providing the required table details in the request body.",
        "operationId": "table-create",
        "parameters": [
          {
            "name": "base_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the base."
          }
        ],
        "tags": [
          "Tables"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TableCreate"
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "title": "Sample Table20",
                    "description": "Sample Description",
                    "fields": [
                      {
                        "title": "SingleLineText",
                        "type": "SingleLineText",
                        "default_value": "Default Title"
                      },
                      {
                        "title": "LongText",
                        "type": "LongText",
                        "default_value": "Default Description"
                      },
                      {
                        "title": "RichText",
                        "type": "LongText",
                        "default_value": "**Default Description**",
                        "options": {
                          "rich_text": true
                        }
                      },
                      {
                        "title": "UniqueEmail",
                        "type": "Email",
                        "unique": true
                      },
                      {
                        "title": "Email",
                        "type": "Email",
                        "default_value": "user@nocodb.com",
                        "options": {
                          "validation": true
                        }
                      },
                      {
                        "title": "URL",
                        "type": "URL",
                        "default_value": "https://nocodb.com",
                        "options": {
                          "validation": true
                        }
                      },
                      {
                        "title": "Phone",
                        "type": "PhoneNumber",
                        "default_value": "1234567890",
                        "options": {
                          "validation": true
                        }
                      },
                      {
                        "title": "Number",
                        "type": "Number",
                        "default_value": "34",
                        "options": {
                          "locale_string": true
                        }
                      },
                      {
                        "title": "Decimal",
                        "type": "Decimal",
                        "default_value": "34.56",
                        "options": {
                          "precision": 2
                        }
                      },
                      {
                        "title": "Currency",
                        "type": "Currency",
                        "default_value": "34.56",
                        "options": {
                          "locale": "en-US",
                          "code": "USD"
                        }
                      },
                      {
                        "title": "Percent",
                        "type": "Percent",
                        "default_value": "0.34",
                        "options": {
                          "show_as_progress": true
                        }
                      },
                      {
                        "title": "Date",
                        "type": "Date",
                        "default_value": "2021-09-30",
                        "options": {
                          "date_format": "YYYY-MM-DD"
                        }
                      },
                      {
                        "title": "DateTime",
                        "type": "DateTime",
                        "default_value": "2021-09-30 12:34:56",
                        "options": {
                          "date_format": "YYYY-MM-DD HH:mm:ss",
                          "time_format": "HH:mm:ss",
                          "12hr_format": true
                        }
                      },
                      {
                        "title": "SingleSelect",
                        "type": "SingleSelect",
                        "default_value": "Option 1",
                        "options": {
                          "choices": [
                            {
                              "title": "Option 1",
                              "color": "#36BFFF"
                            },
                            {
                              "title": "Option 2",
                              "color": "#36BFFF"
                            }
                          ]
                        }
                      },
                      {
                        "title": "MultiSelect",
                        "type": "MultiSelect",
                        "default_value": "[\"Option 1\"]",
                        "options": {
                          "choices": [
                            {
                              "title": "Option 1",
                              "color": "#36BFFF"
                            },
                            {
                              "title": "Option 2",
                              "color": "#36BFFF"
                            }
                          ]
                        }
                      },
                      {
                        "title": "Checkbox",
                        "type": "Checkbox",
                        "default_value": true,
                        "options": {
                          "icon": "heart",
                          "color": "#36BFFF"
                        }
                      },
                      {
                        "title": "Rating",
                        "type": "Rating",
                        "default_value": "3",
                        "options": {
                          "icon": "heart",
                          "max_value": 5,
                          "color": "#36BFFF"
                        }
                      },
                      {
                        "title": "Attachment",
                        "type": "Attachment"
                      },
                      {
                        "title": "JSON",
                        "type": "JSON",
                        "default_value": "{\"key\": \"value\"}"
                      },
                      {
                        "title": "User",
                        "type": "User",
                        "default_value": "uskfsbdfved8c03z",
                        "options": {
                          "allow_multiple_users": true
                        }
                      },
                      {
                        "title": "CreatedTime",
                        "type": "CreatedTime"
                      },
                      {
                        "title": "CreatedBy",
                        "type": "CreatedBy"
                      },
                      {
                        "title": "UpdatedBy",
                        "type": "LastModifiedBy"
                      },
                      {
                        "title": "UpdatedTime",
                        "type": "LastModifiedTime"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Table created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Table"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "mo0tpvd1hjvfbrx",
                      "title": "Sample Table",
                      "description": "Sample Description",
                      "source_id": "bzyr9k9ui4oudwx",
                      "base_id": "p13yxf5plzg73jm",
                      "workspace_id": "wsdkr9ub",
                      "display_field_id": "c455mde7px2yidt",
                      "fields": [
                        {
                          "id": "c455mde7px2yidt",
                          "title": "SingleLineText",
                          "type": "SingleLineText",
                          "default_value": "Default Title"
                        },
                        {
                          "id": "c9zh8dmi7710mao",
                          "title": "LongText",
                          "type": "LongText",
                          "default_value": "Default Description"
                        },
                        {
                          "id": "c57o8n0cbyss84l",
                          "title": "RichText",
                          "type": "LongText",
                          "default_value": "**Default Description**",
                          "options": {
                            "rich_text": true
                          }
                        },
                        {
                          "id": "cnl62kaut6jp5rg",
                          "title": "Email",
                          "type": "Email",
                          "default_value": "user@nocodb.com",
                          "options": {
                            "validation": true
                          }
                        },
                        {
                          "id": "cx4mpq7zm4offr8",
                          "title": "URL",
                          "type": "URL",
                          "default_value": "https://nocodb.com",
                          "options": {
                            "validation": true
                          }
                        },
                        {
                          "id": "cx7i90tmjjbh50g",
                          "title": "Phone",
                          "type": "PhoneNumber",
                          "default_value": "1234567890",
                          "options": {
                            "validation": true
                          }
                        },
                        {
                          "id": "chcb0o99ricceek",
                          "title": "Number",
                          "type": "Number",
                          "default_value": "34",
                          "options": {
                            "locale_string": true
                          }
                        },
                        {
                          "id": "csumykirz5i02pg",
                          "title": "Decimal",
                          "type": "Decimal",
                          "default_value": "34.56",
                          "options": {
                            "precision": 2
                          }
                        },
                        {
                          "id": "cs1tvrdevhwf4r2",
                          "title": "Currency",
                          "type": "Currency",
                          "default_value": "34.56",
                          "options": {
                            "locale": "en-US",
                            "code": "USD"
                          }
                        },
                        {
                          "id": "crpqkxsq8d1ljgz",
                          "title": "Percent",
                          "type": "Percent",
                          "default_value": "0.34",
                          "options": {
                            "show_as_progress": true
                          }
                        },
                        {
                          "id": "crnzx3dtlnjjr5z",
                          "title": "Date",
                          "type": "Date",
                          "default_value": "2021-09-30",
                          "options": {
                            "date_format": "YYYY-MM-DD"
                          }
                        },
                        {
                          "id": "c26ypextdeug3qd",
                          "title": "DateTime",
                          "type": "DateTime",
                          "default_value": "2021-09-30 12:34:56",
                          "options": {
                            "date_format": "YYYY-MM-DD HH:mm:ss",
                            "time_format": "HH:mm:ss",
                            "12hr_format": true
                          }
                        },
                        {
                          "id": "cyllf65uowcvw1b",
                          "title": "SingleSelect",
                          "type": "SingleSelect",
                          "default_value": "Option 1",
                          "options": {
                            "choices": [
                              {
                                "title": "Option 1",
                                "color": "#36BFFF",
                                "id": "spd7exnmjz5uch8"
                              },
                              {
                                "title": "Option 2",
                                "color": "#36BFFF",
                                "id": "sytp5rjfte78p8k"
                              }
                            ]
                          }
                        },
                        {
                          "id": "clhlbmjw6dpz9ts",
                          "title": "MultiSelect",
                          "type": "MultiSelect",
                          "default_value": "[\"Option 1\"]",
                          "options": {
                            "choices": [
                              {
                                "title": "Option 1",
                                "color": "#36BFFF",
                                "id": "ssig2048lvr9puw"
                              },
                              {
                                "title": "Option 2",
                                "color": "#36BFFF",
                                "id": "sz7etgbnhm84e9w"
                              }
                            ]
                          }
                        },
                        {
                          "id": "c86vpwa0qzexf8i",
                          "title": "Checkbox",
                          "type": "Checkbox",
                          "default_value": "true",
                          "options": {
                            "color": "#36BFFF",
                            "icon": "heart"
                          }
                        },
                        {
                          "id": "c6h2p5nmlmynbiv",
                          "title": "Rating",
                          "type": "Rating",
                          "default_value": "3",
                          "options": {
                            "max_value": 5,
                            "color": "#36BFFF",
                            "icon": "heart"
                          }
                        },
                        {
                          "id": "cqh7kupxqaw7itc",
                          "title": "Attachment",
                          "type": "Attachment"
                        },
                        {
                          "id": "cp1d7w6surl8juh",
                          "title": "JSON",
                          "type": "JSON",
                          "default_value": "{\"key\": \"value\"}"
                        },
                        {
                          "id": "cebdv0v3uy7tyiy",
                          "title": "User",
                          "type": "User",
                          "default_value": "uskfsbdfved8c03z",
                          "options": {
                            "allow_multiple_users": true
                          }
                        },
                        {
                          "id": "cb4vptiuveysb5a",
                          "title": "Links",
                          "type": "Links",
                          "options": {
                            "relation_type": "mm",
                            "related_table_id": "mnkgbmqwkls36fg"
                          }
                        },
                        {
                          "id": "cavokt1gde5dy2m",
                          "title": "id",
                          "type": "ID"
                        },
                        {
                          "id": "csiwamkqrm08slv",
                          "title": "CreatedTime",
                          "type": "CreatedTime"
                        },
                        {
                          "id": "cczd61fh2m0mn8a",
                          "title": "CreatedBy",
                          "type": "CreatedBy"
                        },
                        {
                          "id": "chshjlwe59glff7",
                          "title": "UpdatedBy",
                          "type": "LastModifiedBy"
                        },
                        {
                          "id": "ctlyu6sbs77whvj",
                          "title": "UpdatedTime",
                          "type": "LastModifiedTime"
                        }
                      ],
                      "views": [
                        {
                          "id": "vwuke35pn7bcoqmb",
                          "title": "Sample Table",
                          "view_type": "grid"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body."
          },
          "500": {
            "description": "Server error."
          }
        }
      }
    },
    "/api/v3/meta/bases/{baseId}/tables/{tableId}": {
      "get": {
        "summary": "Get table schema",
        "description": "Retrieve the details of a specific table.",
        "operationId": "table-read",
        "tags": [
          "Tables"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the table."
          },
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the base."
          }
        ],
        "responses": {
          "200": {
            "description": "Table details are retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Table"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "mo0tpvd1hjvfbrx",
                      "title": "Sample Table",
                      "description": "Sample Description",
                      "source_id": "bzyr9k9ui4oudwx",
                      "base_id": "p13yxf5plzg73jm",
                      "workspace_id": "wsdkr9ub",
                      "display_field_id": "c455mde7px2yidt",
                      "fields": [
                        {
                          "id": "c455mde7px2yidt",
                          "title": "SingleLineText",
                          "type": "SingleLineText",
                          "default_value": "Default Title"
                        },
                        {
                          "id": "c9zh8dmi7710mao",
                          "title": "LongText",
                          "type": "LongText",
                          "default_value": "Default Description"
                        },
                        {
                          "id": "c57o8n0cbyss84l",
                          "title": "RichText",
                          "type": "LongText",
                          "default_value": "**Default Description**",
                          "options": {
                            "rich_text": true
                          }
                        },
                        {
                          "id": "cnl62kaut6jp5rg",
                          "title": "Email",
                          "type": "Email",
                          "default_value": "user@nocodb.com",
                          "options": {
                            "validation": true
                          }
                        },
                        {
                          "id": "cx4mpq7zm4offr8",
                          "title": "URL",
                          "type": "URL",
                          "default_value": "https://nocodb.com",
                          "options": {
                            "validation": true
                          }
                        },
                        {
                          "id": "cx7i90tmjjbh50g",
                          "title": "Phone",
                          "type": "PhoneNumber",
                          "default_value": "1234567890",
                          "options": {
                            "validation": true
                          }
                        },
                        {
                          "id": "chcb0o99ricceek",
                          "title": "Number",
                          "type": "Number",
                          "default_value": "34",
                          "options": {
                            "locale_string": true
                          }
                        },
                        {
                          "id": "csumykirz5i02pg",
                          "title": "Decimal",
                          "type": "Decimal",
                          "default_value": "34.56",
                          "options": {
                            "precision": 2
                          }
                        },
                        {
                          "id": "cs1tvrdevhwf4r2",
                          "title": "Currency",
                          "type": "Currency",
                          "default_value": "34.56",
                          "options": {
                            "locale": "en-US",
                            "code": "USD"
                          }
                        },
                        {
                          "id": "crpqkxsq8d1ljgz",
                          "title": "Percent",
                          "type": "Percent",
                          "default_value": "0.34",
                          "options": {
                            "show_as_progress": true
                          }
                        },
                        {
                          "id": "crnzx3dtlnjjr5z",
                          "title": "Date",
                          "type": "Date",
                          "default_value": "2021-09-30",
                          "options": {
                            "date_format": "YYYY-MM-DD"
                          }
                        },
                        {
                          "id": "c26ypextdeug3qd",
                          "title": "DateTime",
                          "type": "DateTime",
                          "default_value": "2021-09-30 12:34:56",
                          "options": {
                            "date_format": "YYYY-MM-DD HH:mm:ss",
                            "time_format": "HH:mm:ss",
                            "12hr_format": true
                          }
                        },
                        {
                          "id": "cyllf65uowcvw1b",
                          "title": "SingleSelect",
                          "type": "SingleSelect",
                          "default_value": "Option 1",
                          "options": {
                            "choices": [
                              {
                                "title": "Option 1",
                                "color": "#36BFFF",
                                "id": "spd7exnmjz5uch8"
                              },
                              {
                                "title": "Option 2",
                                "color": "#36BFFF",
                                "id": "sytp5rjfte78p8k"
                              }
                            ]
                          }
                        },
                        {
                          "id": "clhlbmjw6dpz9ts",
                          "title": "MultiSelect",
                          "type": "MultiSelect",
                          "default_value": "[\"Option 1\"]",
                          "options": {
                            "choices": [
                              {
                                "title": "Option 1",
                                "color": "#36BFFF",
                                "id": "ssig2048lvr9puw"
                              },
                              {
                                "title": "Option 2",
                                "color": "#36BFFF",
                                "id": "sz7etgbnhm84e9w"
                              }
                            ]
                          }
                        },
                        {
                          "id": "c86vpwa0qzexf8i",
                          "title": "Checkbox",
                          "type": "Checkbox",
                          "default_value": "true",
                          "options": {
                            "color": "#36BFFF",
                            "icon": "heart"
                          }
                        },
                        {
                          "id": "c6h2p5nmlmynbiv",
                          "title": "Rating",
                          "type": "Rating",
                          "default_value": "3",
                          "options": {
                            "max_value": 5,
                            "color": "#36BFFF",
                            "icon": "heart"
                          }
                        },
                        {
                          "id": "cqh7kupxqaw7itc",
                          "title": "Attachment",
                          "type": "Attachment"
                        },
                        {
                          "id": "cp1d7w6surl8juh",
                          "title": "JSON",
                          "type": "JSON",
                          "default_value": "{\"key\": \"value\"}"
                        },
                        {
                          "id": "cebdv0v3uy7tyiy",
                          "title": "User",
                          "type": "User",
                          "default_value": "uskfsbdfved8c03z",
                          "options": {
                            "allow_multiple_users": true
                          }
                        },
                        {
                          "id": "cb4vptiuveysb5a",
                          "title": "Links",
                          "type": "Links",
                          "options": {
                            "relation_type": "mm",
                            "related_table_id": "mnkgbmqwkls36fg"
                          }
                        },
                        {
                          "id": "cavokt1gde5dy2m",
                          "title": "id",
                          "type": "ID"
                        },
                        {
                          "id": "csiwamkqrm08slv",
                          "title": "CreatedTime",
                          "type": "CreatedTime"
                        },
                        {
                          "id": "cczd61fh2m0mn8a",
                          "title": "CreatedBy",
                          "type": "CreatedBy"
                        },
                        {
                          "id": "chshjlwe59glff7",
                          "title": "UpdatedBy",
                          "type": "LastModifiedBy"
                        },
                        {
                          "id": "ctlyu6sbs77whvj",
                          "title": "UpdatedTime",
                          "type": "LastModifiedTime"
                        }
                      ],
                      "views": [
                        {
                          "id": "vwuke35pn7bcoqmb",
                          "title": "Sample Table",
                          "view_type": "grid"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Table not found."
          },
          "500": {
            "description": "Server error."
          }
        }
      },
      "patch": {
        "summary": "Update table",
        "description": "Update the details of a specific table.",
        "operationId": "table-update",
        "tags": [
          "Tables"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the table."
          },
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the base."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TableUpdate"
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "title": "Updated Table Title",
                    "description": "Updated Description",
                    "display_field_id": "c455mde7px2yidt",
                    "meta": {
                      "icon": "🚞"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Table meta updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Table"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "m0nibecfkcfsz2x",
                      "title": "Features",
                      "meta": {
                        "icon": "🚞"
                      },
                      "source_id": "bbtx6pvj7b8yszy",
                      "base_id": "pn9mmowpquxj60w",
                      "workspace_id": "w6wqiisd",
                      "views": [
                        {
                          "id": "vwuke35pn7bcoqmb",
                          "title": "Features",
                          "view_type": "grid"
                        }
                      ],
                      "display_field_id": "cb51p6e2r4gpxpv",
                      "fields": [
                        {
                          "id": "cz0jslmqdvcv68n",
                          "title": "Id",
                          "type": "ID"
                        },
                        {
                          "id": "cb51p6e2r4gpxpv",
                          "title": "Title",
                          "type": "SingleLineText"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body."
          },
          "404": {
            "description": "Table not found."
          },
          "500": {
            "description": "Server error."
          }
        }
      },
      "delete": {
        "summary": "Delete table",
        "description": "Delete a specific table.",
        "operationId": "table-delete",
        "tags": [
          "Tables"
        ],
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the base."
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the table."
          }
        ],
        "responses": {
          "204": {
            "description": "Table deleted successfully."
          },
          "404": {
            "description": "Table not found."
          },
          "500": {
            "description": "Server error."
          }
        }
      }
    },
    "/api/v3/meta/bases/{baseId}/tables/{tableId}/views": {
      "get": {
        "summary": "List views",
        "operationId": "views-list",
        "tags": [
          "Views"
        ],
        "description": "Retrieve a list of all views for a specific table.\n\n**Note**: View APIs are available only on self-hosted and cloud-hosted **Enterprise** plans.",
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the base."
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the table."
          }
        ],
        "responses": {
          "200": {
            "description": "List of views retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ViewList"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "list": [
                        {
                          "id": "vwpwk5v4urgbu85g",
                          "table_id": "mrc5unwjdov67vr",
                          "title": "Grid View",
                          "type": "grid",
                          "lock_type": "collaborative",
                          "created_at": "2025-06-26 15:02:56+00:00",
                          "updated_at": "2025-06-26 15:36:25+00:00"
                        },
                        {
                          "id": "vwfqa5qnmcaxt9yp",
                          "table_id": "mrc5unwjdov67vr",
                          "title": "Grid View 2",
                          "type": "grid",
                          "lock_type": "collaborative",
                          "created_at": "2025-06-26 15:40:01+00:00",
                          "updated_at": "2025-06-26 15:40:48+00:00",
                          "description": "Grid view with some description",
                          "created_by": "usq6o3vavwf0twzr"
                        },
                        {
                          "id": "vwx2x5ietbis99xg",
                          "table_id": "mrc5unwjdov67vr",
                          "title": "Grid Group By",
                          "type": "grid",
                          "lock_type": "collaborative",
                          "created_at": "2025-06-26 15:40:41+00:00",
                          "updated_at": "2025-06-26 15:40:41+00:00",
                          "created_by": "usq6o3vavwf0twzr"
                        },
                        {
                          "id": "vwjctk8vdhbhxtd4",
                          "table_id": "mrc5unwjdov67vr",
                          "title": "Gallery View",
                          "type": "gallery",
                          "lock_type": "collaborative",
                          "created_at": "2025-06-26 15:45:30+00:00",
                          "updated_at": "2025-06-26 15:45:30+00:00",
                          "created_by": "usq6o3vavwf0twzr"
                        },
                        {
                          "id": "vwnyxj93jfswla29",
                          "table_id": "mrc5unwjdov67vr",
                          "title": "Kanban View",
                          "type": "kanban",
                          "lock_type": "collaborative",
                          "created_at": "2025-06-26 15:45:40+00:00",
                          "updated_at": "2025-06-26 15:45:40+00:00",
                          "created_by": "usq6o3vavwf0twzr"
                        },
                        {
                          "id": "vw7hwhx551tbr44z",
                          "table_id": "mrc5unwjdov67vr",
                          "title": "Calendar View",
                          "type": "calendar",
                          "lock_type": "collaborative",
                          "created_at": "2025-06-26 15:45:47+00:00",
                          "updated_at": "2025-06-26 15:45:47+00:00",
                          "created_by": "usq6o3vavwf0twzr"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Table not found."
          },
          "500": {
            "description": "Server error."
          }
        }
      },
      "post": {
        "summary": "Create view",
        "description": "Create a view for table.\n\n**Note**: View APIs are available only on self-hosted and cloud-hosted **Enterprise** plans.",
        "operationId": "view-create",
        "tags": [
          "Views"
        ],
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the base."
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the table."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ViewCreate"
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "title": "Created View Title",
                    "type": "grid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "View meta updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/View"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "vw5rakj00x28vdht",
                      "table_id": "mrc5unwjdov67vr",
                      "title": "myFilterView2",
                      "type": "grid",
                      "lock_type": "collaborative",
                      "created_at": "2025-08-13 07:36:03+00:00",
                      "updated_at": "2025-08-13 07:36:03+00:00",
                      "created_by": "uspf4n7qlp704qrj",
                      "fields": [
                        {
                          "field_id": "csd3tnc2t8ccbw2",
                          "show": true
                        },
                        {
                          "field_id": "cwy23c7tglso0zp",
                          "show": true
                        },
                        {
                          "field_id": "clljtnye0his0wv",
                          "show": true
                        },
                        {
                          "field_id": "cmbwwvp0mhyw6uv",
                          "show": true
                        },
                        {
                          "field_id": "c1kzoujfb6on9ba",
                          "show": true
                        },
                        {
                          "field_id": "c711uewjhfevrjj",
                          "show": true
                        },
                        {
                          "field_id": "cjgsfkb3307h4gj",
                          "show": true
                        },
                        {
                          "field_id": "ck6lswg0z3h6ase",
                          "show": true
                        },
                        {
                          "field_id": "cxlnws1ojnocsr3",
                          "show": true
                        }
                      ],
                      "options": {
                        "row_height": "short"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body."
          },
          "404": {
            "description": "Table not found."
          },
          "500": {
            "description": "Server error."
          }
        }
      }
    },
    "/api/v3/meta/bases/{baseId}/tables/{tableId}/fields": {
      "post": {
        "summary": "Create field",
        "description": "Create a new field within the specified table.",
        "operationId": "field-create",
        "tags": [
          "Fields"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the table."
          },
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the base."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateField"
              },
              "examples": {
                "SingleLineText / LongText": {
                  "value": {
                    "title": "New Field",
                    "type": "SingleLineText",
                    "default_value": "Default Value",
                    "description": "Sample Description"
                  }
                },
                "RichText": {
                  "value": {
                    "title": "New Field",
                    "type": "LongText",
                    "default_value": "Default Value",
                    "description": "Sample Description",
                    "options": {
                      "rich_text": true
                    }
                  }
                },
                "Email / URL / PhoneNumber": {
                  "value": {
                    "title": "New Field",
                    "type": "Email",
                    "default_value": "user@nocodb.com",
                    "description": "Sample Description",
                    "options": {
                      "validation": true
                    }
                  }
                },
                "Number / Decimal": {
                  "value": {
                    "title": "New Field",
                    "type": "Number",
                    "default_value": "23",
                    "description": "Sample Description",
                    "options": {
                      "precision": "4"
                    }
                  }
                },
                "Unique Constraint": {
                  "value": {
                    "title": "Unique Email",
                    "type": "Email",
                    "unique": true,
                    "description": "Email field with unique constraint - no duplicate values allowed"
                  },
                  "summary": "Example of creating a field with unique constraint"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Field was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateField"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body."
          },
          "500": {
            "description": "Server error."
          }
        }
      }
    },
    "/api/v3/meta/bases/{baseId}/fields/{fieldId}": {
      "get": {
        "summary": "Get field",
        "description": "Retrieve the details of a specific field.",
        "operationId": "field-read",
        "tags": [
          "Fields"
        ],
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the base."
          },
          {
            "name": "fieldId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the field being updated."
          }
        ],
        "responses": {
          "200": {
            "description": "Field details are retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Field"
                }
              }
            }
          },
          "404": {
            "description": "Field not found."
          },
          "500": {
            "description": "Server error."
          }
        }
      },
      "patch": {
        "summary": "Update field",
        "description": "Update the details of a specific field.",
        "operationId": "field-update",
        "tags": [
          "Fields"
        ],
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the base."
          },
          {
            "name": "fieldId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the field being updated."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldUpdate"
              },
              "examples": {
                "SingleLineText / LongText": {
                  "value": {
                    "title": "New Field",
                    "type": "SingleLineText",
                    "default_value": "Default Value",
                    "description": "Sample Description"
                  }
                },
                "RichText": {
                  "value": {
                    "title": "New Field",
                    "type": "LongText",
                    "default_value": "Default Value",
                    "description": "Sample Description",
                    "options": {
                      "rich_text": true
                    }
                  }
                },
                "Email / URL / PhoneNumber": {
                  "value": {
                    "title": "New Field",
                    "type": "Email",
                    "default_value": "user@nocodb.com",
                    "description": "Sample Description",
                    "options": {
                      "validation": true
                    }
                  }
                },
                "Number / Decimal": {
                  "value": {
                    "title": "New Field",
                    "type": "Number",
                    "default_value": "23",
                    "description": "Sample Description",
                    "options": {
                      "precision": "4"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Field was updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateField"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body."
          },
          "500": {
            "description": "Server error."
          }
        }
      },
      "delete": {
        "summary": "Delete field",
        "description": "Delete a specific field.",
        "operationId": "field-delete",
        "tags": [
          "Fields"
        ],
        "parameters": [
          {
            "name": "fieldId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the field."
          },
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the base."
          }
        ],
        "responses": {
          "204": {
            "description": "Field was deleted."
          },
          "404": {
            "description": "Field not found."
          },
          "500": {
            "description": "Server error."
          }
        }
      }
    },
    "/api/v3/meta/bases/{baseId}/tables/{tableId}/hooks": {
      "get": {
        "summary": "List hooks",
        "operationId": "hooks-list",
        "tags": [
          "Hooks"
        ],
        "description": "Retrieve a list of all hooks for a specific table.\n\n**Note**: Hook APIs are available only on self-hosted and cloud-hosted **Enterprise** plans.",
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the base."
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the table."
          }
        ],
        "responses": {
          "200": {
            "description": "List of hooks retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HookV3List"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "list": [
                        {
                          "id": "hk1abc123xyz",
                          "table_id": "tbl456def",
                          "title": "Send Email on Insert",
                          "description": "Sends email notification when a new record is inserted",
                          "event": "record",
                          "operation": ["insert"],
                          "notification": {
                            "type": "URL",
                            "payload": {
                              "path": "https://example.com/webhook"
                            }
                          },
                          "active": true,
                          "created_at": "2025-01-16T06:04:18.000Z",
                          "updated_at": "2025-01-16T06:04:18.000Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Table not found."
          },
          "500": {
            "description": "Server error."
          }
        }
      },
      "post": {
        "summary": "Create hook",
        "description": "Create a new hook for a table.\n\n**Note**: Hook APIs are available only on self-hosted and cloud-hosted **Enterprise** plans.",
        "operationId": "hook-create",
        "tags": [
          "Hooks"
        ],
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the base."
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the table."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HookV3Create"
              },
              "examples": {
                "Webhook Example": {
                  "value": {
                    "title": "New Record Webhook",
                    "event": "record",
                    "operation": ["insert"],
                    "notification": {
                      "type": "URL",
                      "payload": {
                        "path": "https://example.com/webhook",
                        "method": "POST",
                        "body": "{{ json data }}",
                        "headers": [
                          {
                            "name": "Content-Type",
                            "value": "application/json",
                            "enabled": true
                          }
                        ]
                      }
                    },
                    "active": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Hook created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HookV3"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "hk1abc123xyz",
                      "table_id": "tbl456def",
                      "title": "New Record Webhook",
                      "event": "record",
                      "operation": ["insert"],
                      "notification": {
                        "type": "URL",
                        "payload": {
                          "path": "https://example.com/webhook",
                          "method": "POST",
                          "body": "{{ json data }}",
                          "headers": [
                            {
                              "name": "Content-Type",
                              "value": "application/json",
                              "enabled": true
                            }
                          ]
                        }
                      },
                      "active": true,
                      "created_at": "2025-01-16T06:04:18.000Z",
                      "updated_at": "2025-01-16T06:04:18.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body."
          },
          "404": {
            "description": "Table not found."
          },
          "500": {
            "description": "Server error."
          }
        }
      }
    },
    "/api/v3/meta/bases/{baseId}/hooks/{hookId}": {
      "get": {
        "summary": "Get hook",
        "description": "Retrieve the details of a specific hook.\n\n**Note**: Hook APIs are available only on self-hosted and cloud-hosted **Enterprise** plans.",
        "operationId": "hook-read",
        "tags": [
          "Hooks"
        ],
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the base."
          },
          {
            "name": "hookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the hook."
          }
        ],
        "responses": {
          "200": {
            "description": "Hook details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HookV3"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "hk1abc123xyz",
                      "table_id": "tbl456def",
                      "title": "Send Email on Insert",
                      "description": "Sends email notification when a new record is inserted",
                      "event": "record",
                      "operation": ["insert"],
                      "notification": {
                        "type": "URL",
                        "payload": {
                          "path": "https://example.com/webhook"
                        }
                      },
                      "active": true,
                      "trigger_fields": ["fldAbc123"],
                      "created_at": "2025-01-16T06:04:18.000Z",
                      "updated_at": "2025-01-16T06:04:18.000Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Hook not found."
          },
          "500": {
            "description": "Server error."
          }
        }
      },
      "patch": {
        "summary": "Update hook",
        "description": "Update the details of a specific hook.\n\n**Note**: Hook APIs are available only on self-hosted and cloud-hosted **Enterprise** plans.",
        "operationId": "hook-update",
        "tags": [
          "Hooks"
        ],
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the base."
          },
          {
            "name": "hookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the hook."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HookV3Update"
              },
              "examples": {
                "Update Title": {
                  "value": {
                    "title": "Updated Hook Title"
                  }
                },
                "Update Active Status": {
                  "value": {
                    "active": false
                  }
                },
                "Update Notification Payload": {
                  "value": {
                    "notification": {
                      "type": "URL",
                      "payload": {
                        "path": "https://example.com/webhook",
                        "method": "POST",
                        "body": "{{ json data }}",
                        "headers": [
                          {
                            "name": "Content-Type",
                            "value": "application/json",
                            "enabled": true
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Hook updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HookV3"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "hk1abc123xyz",
                      "table_id": "tbl456def",
                      "title": "Updated Hook Title",
                      "event": "record",
                      "operation": ["insert"],
                      "notification": {
                        "type": "URL",
                        "payload": {
                          "path": "https://example.com/webhook",
                          "method": "POST",
                          "body": "{{ json data }}",
                          "headers": [
                            {
                              "name": "Content-Type",
                              "value": "application/json",
                              "enabled": true
                            }
                          ]
                        }
                      },
                      "active": true,
                      "created_at": "2025-01-16T06:04:18.000Z",
                      "updated_at": "2025-01-16T06:04:18.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body."
          },
          "404": {
            "description": "Hook not found."
          },
          "500": {
            "description": "Server error."
          }
        }
      },
      "delete": {
        "summary": "Delete hook",
        "description": "Delete a specific hook.\n\n**Note**: Hook APIs are available only on self-hosted and cloud-hosted **Enterprise** plans.",
        "operationId": "hook-delete",
        "tags": [
          "Hooks"
        ],
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the base."
          },
          {
            "name": "hookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the hook."
          }
        ],
        "responses": {
          "200": {
            "description": "Hook deleted successfully."
          },
          "404": {
            "description": "Hook not found."
          },
          "500": {
            "description": "Server error."
          }
        }
      }
    },
    "/api/v3/meta/bases/{baseId}/views/{viewId}": {
      "get": {
        "summary": "Get view schema",
        "description": "Retrieve the details of a specific view.\n\n**Note**: View APIs are available only on self-hosted and cloud-hosted **Enterprise** plans.",
        "operationId": "view-read",
        "tags": [
          "Views"
        ],
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the base."
          },
          {
            "name": "viewId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the view."
          }
        ],
        "responses": {
          "200": {
            "description": "View details are retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/View"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "vw5rakj00x28vdht",
                      "table_id": "mrc5unwjdov67vr",
                      "title": "myFilterView2",
                      "type": "grid",
                      "lock_type": "collaborative",
                      "created_at": "2025-08-13 07:36:03+00:00",
                      "updated_at": "2025-08-13 07:36:03+00:00",
                      "created_by": "uspf4n7qlp704qrj",
                      "fields": [
                        {
                          "field_id": "csd3tnc2t8ccbw2",
                          "show": true
                        },
                        {
                          "field_id": "cwy23c7tglso0zp",
                          "show": true
                        },
                        {
                          "field_id": "clljtnye0his0wv",
                          "show": true
                        },
                        {
                          "field_id": "cmbwwvp0mhyw6uv",
                          "show": true
                        },
                        {
                          "field_id": "c1kzoujfb6on9ba",
                          "show": true
                        },
                        {
                          "field_id": "c711uewjhfevrjj",
                          "show": true
                        },
                        {
                          "field_id": "cjgsfkb3307h4gj",
                          "show": true
                        },
                        {
                          "field_id": "ck6lswg0z3h6ase",
                          "show": true
                        },
                        {
                          "field_id": "cxlnws1ojnocsr3",
                          "show": true
                        }
                      ],
                      "options": {
                        "row_height": "short"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "View not found."
          },
          "500": {
            "description": "Server error."
          }
        }
      },
      "patch": {
        "summary": "Update view",
        "description": "Update the details of a specific view. The request body should contain the fields to be updated. Fields not included in the request body will remain unchanged. Fields included will overwrite the existing values. There is no provision for partial updates of fields, sort or filter using this PATCH request.\n\n**Note**: View APIs are available only on self-hosted and cloud-hosted **Enterprise** plans.",
        "operationId": "view-update",
        "tags": [
          "Views"
        ],
        "parameters": [
          {
[...]
