# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
# Trigger configuration : https://gist.github.com/myobie/671d2f2a1e503efa0c05e7b865c26a9d

name: "CI/CD"
on:
    push:
        branches: [develop]
        paths:
            - "packages/nc-gui/**"
            - "packages/nocodb/**"
            - ".github/workflows/ci-cd.yml"
            - "tests/playwright/**"
    pull_request:
        types: [opened, reopened, synchronize, ready_for_review, labeled]
        branches: [develop]
        paths:
            - "packages/nc-gui/**"
            - "packages/nocodb/**"
            - ".github/workflows/ci-cd.yml"
            - "tests/playwright/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
    unit-tests:
      runs-on: ubuntu-20.04
      timeout-minutes: 40
      if: ${{ github.event_name == 'push' || contains(github.event.pull_request.labels.*.name, 'trigger-CI') || !github.event.pull_request.draft }}
      steps:
        - name: Setup Node
          uses: actions/setup-node@v3
          with:
            node-version: 16.15.0
        - name: Checkout
          uses: actions/checkout@v3
          with:
            fetch-depth: 0
        - name: Cache node modules
          uses: actions/cache@v3
          env:
            cache-name: cache-node-modules

          with:
            # npm cache files are stored in `~/.npm` on Linux/macOS
            path: ~/.npm
            key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
            restore-keys: |
              ${{ runner.os }}-build-${{ env.cache-name }}-
              ${{ runner.os }}-build-
              ${{ runner.os }}-
        - name: install dependencies nocodb-sdk
          working-directory: ./packages/nocodb-sdk
          run: npm install
        - name: build nocodb-sdk
          working-directory: ./packages/nocodb-sdk
          run: npm run build:main
        - name: Install dependencies
          working-directory: ./packages/nocodb
          run: npm install
        - name: run unit tests
          working-directory: ./packages/nocodb
          run: npm run test:unit
        - uses: actions/upload-artifact@v3
          if: always()
          with:
            name: coverage-unit-tests
            path: ./packages/nocodb/coverage
            retention-days: 2          
    unit-tests-pg:
      runs-on: ubuntu-20.04
      timeout-minutes: 40
      if: ${{ github.event_name == 'push' || contains(github.event.pull_request.labels.*.name, 'trigger-CI') || !github.event.pull_request.draft }}
      steps:
        - name: Setup Node
          uses: actions/setup-node@v3
          with:
            node-version: 16.15.0
        - name: Checkout
          uses: actions/checkout@v3
          with:
            fetch-depth: 0
        - name: Cache node modules
          uses: actions/cache@v3
          env:
            cache-name: cache-node-modules

          with:
            # npm cache files are stored in `~/.npm` on Linux/macOS
            path: ~/.npm
            key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
            restore-keys: |
              ${{ runner.os }}-build-${{ env.cache-name }}-
              ${{ runner.os }}-build-
              ${{ runner.os }}-
        - name: setup pg
          working-directory: ./
          run: docker-compose -f ./tests/playwright/scripts/docker-compose-playwright-pg.yml up -d &
        - name: install dependencies nocodb-sdk
          working-directory: ./packages/nocodb-sdk
          run: npm install
        - name: build nocodb-sdk
          working-directory: ./packages/nocodb-sdk
          run: npm run build:main
        - name: Install dependencies
          working-directory: ./packages/nocodb
          run: npm install
        - name: run unit tests
          working-directory: ./packages/nocodb
          run: npm run test:unit:pg
        - uses: actions/upload-artifact@v3
          if: always()
          with:
            name: coverage-unit-tests-pg
            path: ./packages/nocodb/coverage
            retention-days: 2        
    playwright-mysql-1:
      if: ${{ github.event_name == 'push' || contains(github.event.pull_request.labels.*.name, 'trigger-CI') || !github.event.pull_request.draft }}
      uses: ./.github/workflows/playwright-test-workflow.yml
      with:
        db: mysql
        shard: 1
    playwright-mysql-2:
      if: ${{ github.event_name == 'push' || contains(github.event.pull_request.labels.*.name, 'trigger-CI') || !github.event.pull_request.draft }}
      uses: ./.github/workflows/playwright-test-workflow.yml
      with:
        db: mysql
        shard: 2
    playwright-sqlite-1:
      if: ${{ github.event_name == 'push' || contains(github.event.pull_request.labels.*.name, 'trigger-CI') || !github.event.pull_request.draft }}
      uses: ./.github/workflows/playwright-test-workflow.yml
      with:
        db: sqlite
        shard: 1
    playwright-sqlite-2:
      if: ${{ github.event_name == 'push' || contains(github.event.pull_request.labels.*.name, 'trigger-CI') || !github.event.pull_request.draft }}
      uses: ./.github/workflows/playwright-test-workflow.yml
      with:
        db: sqlite
        shard: 2
    playwright-pg-shard-1:
      if: ${{ github.event_name == 'push' || contains(github.event.pull_request.labels.*.name, 'trigger-CI') || !github.event.pull_request.draft }}
      uses: ./.github/workflows/playwright-test-workflow.yml
      with:
        db: pg
        shard: 1
    playwright-pg-shard-2:
      if: ${{ github.event_name == 'push' || contains(github.event.pull_request.labels.*.name, 'trigger-CI') || !github.event.pull_request.draft }}
      uses: ./.github/workflows/playwright-test-workflow.yml
      with:
        db: pg
        shard: 2
