# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
# Trigger configuration : https://gist.github.com/myobie/671d2f2a1e503efa0c05e7b865c26a9d

name: "CI/CD"
on:
  push:
    branches: [develop]
    paths:
      - "packages/nc-gui/**"
      - "packages/nocodb/**"
      - ".github/workflows/ci-cd.yml"
      - "tests/playwright/**"
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review, labeled]
    branches: [develop]
    paths:
      - "packages/nc-gui/**"
      - "packages/nocodb/**"
      - ".github/workflows/ci-cd.yml"
      - ".github/workflows/playwright-test-workflow.yml"
      - "tests/playwright/**"
  workflow_call:
    inputs:
      force:
        required: false
        type: boolean
  # Triggered manually
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  unit-tests-pg:
    runs-on: [self-hosted, aws]
    timeout-minutes: 80
    if: ${{ github.event_name == 'push' || contains(github.event.pull_request.labels.*.name, 'trigger-CI') || !github.event.pull_request.draft || inputs.force == true }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18.19.1
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9
      - name: Get pnpm store directory
        shell: bash
        timeout-minutes: 1
        run: |
          echo "STORE_PATH=/root/setup-pnpm/node_modules/.bin/store/v3" >> $GITHUB_ENV
      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
      - name: Set CI env
        run: export CI=true
      - name: Set NC Edition
        run: export EE=true
      - name: remove use-node-version line from .npmrc
        run: sed -i '/^use-node-version/d' .npmrc
      - name: install dependencies
        run: pnpm bootstrap
      - name: build nocodb-sdk
        working-directory: ./packages/nocodb-sdk
        run: |
          pnpm run generate:sdk:ee
          pnpm run build:ee:main
      - name: run sql-executor
        working-directory: ./packages/nc-sql-executor
        run: |
          pnpm run dev &
      - name: run unit tests
        working-directory: ./packages/nocodb
        run: pnpm run test:unit:pg:ee
  playwright-pg-shard-1:
    if: ${{ github.event_name == 'push' || contains(github.event.pull_request.labels.*.name, 'trigger-CI') || !github.event.pull_request.draft || inputs.force == true }}
    uses: ./.github/workflows/playwright-test-workflow.yml
    with:
      db: pg
      shard: 1
  playwright-pg-shard-2:
    if: ${{ github.event_name == 'push' || contains(github.event.pull_request.labels.*.name, 'trigger-CI') || !github.event.pull_request.draft || inputs.force == true }}
    uses: ./.github/workflows/playwright-test-workflow.yml
    with:
      db: pg
      shard: 2
  playwright-pg-shard-3:
    if: ${{ github.event_name == 'push' || contains(github.event.pull_request.labels.*.name, 'trigger-CI') || !github.event.pull_request.draft || inputs.force == true }}
    uses: ./.github/workflows/playwright-test-workflow.yml
    with:
      db: pg
      shard: 3
#    playwright-pg-shard-4:
#      if: ${{ github.event_name == 'push' || contains(github.event.pull_request.labels.*.name, 'trigger-CI') || !github.event.pull_request.draft || inputs.force == true }}
#      uses: ./.github/workflows/playwright-test-workflow.yml
#      with:
#        db: pg
#        shard: 4
