name: Pre-build for Playwright tests

on:
  workflow_call:

jobs:
  build-ui:
    runs-on: [self-hosted, v4, prebuild]
    timeout-minutes: 40
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 22.12.0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=/root/setup-pnpm/node_modules/.bin/store/v3" >> $GITHUB_ENV

      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Set CI env
        run: export CI=true

      - name: Set NC Edition
        run: export EE=true

      - name: remove use-node-version line from .npmrc
        run: sed -i '/^use-node-version/d' .npmrc

      - name: install dependencies
        run: pnpm bootstrap

      - name: build nocodb-sdk
        working-directory: ./packages/nocodb-sdk
        run: |
          pnpm run generate:sdk:ee
          pnpm run build:ee:main

      - name: Build UI
        working-directory: ./packages/nc-gui
        run: |
          export NODE_OPTIONS="--max_old_space_size=16384"
          export NUXT_PUBLIC_ENV=CI
          pnpm run build:ee

      - name: Upload UI build
        working-directory: ./packages/nc-gui
        run: |
          FILE="$(echo ${GITHUB_REPOSITORY} | sed "s,/,-,g")-${GITHUB_RUN_ID}.zip"
          zip -r ${FILE} ee/.output || echo "UI build directory does not exists" >&2

          path="gh-artifacts/ui-builds/"
          target_dir="/mnt/${path}"

          # rm file if exists
          rm -f ${target_dir}${FILE}

          cp ${FILE} ${target_dir}
          echo "${path}${FILE}"