name: "Publish : Docs with < v0.90"

on:
  workflow_dispatch:
  # push:
  #   branches: [ master ]
  #   paths:
  #     - "packages/noco-docs-prev/**"
  # release:
  #   types: [ published ]

jobs:
  copy-file:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Build prev docs
        run: |
          cd packages/noco-docs-prev
          npm install
          npm run generate


      - name: Pushes generated output
        uses: dmnemec/copy_file_to_another_repo_action@1b29cbd9a323185f20b175dc6d5f8f31be5c0658
        env:
          API_TOKEN_GITHUB: ${{ secrets.GH_TOKEN }}
        with:
          source_file: 'packages/noco-docs-prev/dist/'
          clear_folder: 'docs/dist'
          destination_repo: 'nocodb/noco-docs-prev'
          destination_folder: 'docs'
          user_email: 'wingkwong.code@gmail.com'
          user_name: 'wingkwong'
          commit_message: 'Autorelease from github.com/nocodb/nocodb/packages/noco-docs-prev'
