name: "Sync OSS to CE"

on:
  workflow_dispatch:
    inputs:
      before:
        description: 'The commit hash before the push'
        required: true
      after:
        description: 'The commit hash after the push'
        required: true
  # Triggered when pushed to develop branch of nocodb/nocodb (TODO)
  repository_dispatch:
    types: [OSS]

jobs:
  sync:
    runs-on: [self-hosted, runner]
    steps:
      - name: Log event
        run: |
          echo '${{ toJSON(github.event.client_payload) }}'
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16.15.0
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          path: nocohub
      - name: Checkout OSS
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.OSS_TOKEN }}
          repository: 'nocodb/nocodb'
          path: nocodb
      - name: Prepare GH Cli
        id: gh
        run: |
          wget https://github.com/cli/cli/releases/download/v2.33.0/gh_2.33.0_linux_amd64.tar.gz
          tar -xvf gh_2.33.0_linux_amd64.tar.gz
          GH=gh_2.33.0_linux_amd64/bin/gh
          echo "GH=${GH}" >> $GITHUB_OUTPUT
      - name: Sync OSS to EE
        id: sync
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd nocohub
          git fetch --quiet --unshallow origin
          BRANCH_NAME=oss/$(cd ../nocodb;git rev-list -n 3 HEAD | tail -1 | cut -c1-8)
          git checkout -b $BRANCH_NAME
          COMMITS_INFORMATION=$(bash scripts/sync/sync_ce_to_ee.sh ${{ github.event.client_payload.push.before || github.event.inputs.before }} ${{ github.event.client_payload.push.after || github.event.inputs.after }})
          # Check if there are any differences between HEAD and develop
          if git diff --quiet HEAD origin/develop; then
            # No differences
            echo "No differences found between HEAD and origin/develop"
            exit 0
          fi
          git push origin $BRANCH_NAME
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
          ../${{ steps.gh.outputs.GH }} pr create --title "chore: Sync OSS to EE" --body "$(echo -e "This is an automated pull request to sync the OSS repository to the EE repository.\nPlease review and merge this pull request if it looks good.\n$COMMITS_INFORMATION")" --base develop --head $BRANCH_NAME
