name: "Unit Test PG"

on:
  workflow_call:
    inputs:
      test_set:
        description: 'Test set number'
        required: true
        type: string
      no_prefix:
        description: 'Do not use prefix (use schema) during test'
        required: true
        type: boolean
  # Triggered manually
  workflow_dispatch:
    inputs:
      test_set:
        description: 'Test set number'
        required: true
        type: string
      no_prefix:
        description: 'Do not use prefix (use schema) during test'
        required: true
        type: boolean

jobs:
  unit-tests-pg:
    runs-on: [self-hosted, v4, generic]
    timeout-minutes: 40
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 22.12.0
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9
      - name: Get pnpm store directory
        shell: bash
        timeout-minutes: 1
        run: |
          echo "STORE_PATH=/root/setup-pnpm/node_modules/.bin/store/v3" >> $GITHUB_ENV
      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
      - name: Set CI env
        run: export CI=true
      - name: Set NC Edition
        run: export EE=true
      - name: remove use-node-version line from .npmrc
        run: sed -i '/^use-node-version/d' .npmrc
      - name: install dependencies
        run: pnpm bootstrap
      - name: run sql-executor
        working-directory: ./packages/nc-sql-executor
        run: |
          pnpm run dev &
      - name: run unit tests
        working-directory: ./packages/nocodb
        run: |
          pnpm run test:unit:pg:ee${{ inputs.no_prefix && '-no-prefix' || '' }} --forbid-only ${{ inputs.test_set && ('--test-set-' + inputs.test_set) || '' }}
